// font-size base
html {
    font-size: 62.5%;
}

// resets
h1, h2, p, xmp {
    padding: 0;
    margin: 0;
}

xmp {
    display: inline-block;
}

// base styles
body {
    color: #fff;
    font-family: 'Anonymous Pro', monospace;
    @include fSize-value(29);
}

h2 {
    @include fSize-value(32);
    letter-spacing: 1px;
    text-align: center;
    color: #ef3b7d;
}

section {
    @include flexCenterPerfect;
    min-height: 55vh;
}

form {
    padding-bottom: 20px;
}



// inputs and associated labels
    label, {
            cursor: pointer;
            color: #76d9e6;
            padding: 10px;

                &:hover, &:focus {
                    color: #e6d06c;
                    border: 1px solid #e6d06c;
                }
        }

    // "remove" radio button
    input[type='radio'] {
        // visibility: hidden;
        // // display: none;
        opacity: 0;
    }

    input[type=submit] {
        align-self: center;
        color: #32CD32;
        padding: 10px 15px;
        background: none;       

            &:hover, &:focus {
                border: 1px solid #32CD32;
            }
    }

    input[type='radio']:checked + label,
    input[type='radio']:focus + label {
            color: #e6d06c;
            border: 1px solid #e6d06c;
            padding: 10px;
        }

// wrappers

.maxWrapper {
    max-width: 2000px;
    margin: 0 auto;
}

.innerWrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

// terminal style
.completeTerminalWindow {
    background: #2C3D50;
    border-radius: 10px;
    min-height: 90vh;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.terminal-topBar {
    background: #D1D1D1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px 0;

        span {
            display: inline-block;
            margin-left: 8px;
            border-radius: 50%;
            height: 14px;
            width: 14px;
        }

        .red {
            background: red;
            margin-left: 20px;
        }

        .yellow {
            background: yellow;
        }

        .green {
            background: green;
        }
}
