// resets
h1, h2, p {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: 'Anonymous Pro', monospace;
}


// "remove" radio button
// input[type='radio'] {
//     visibility: hidden;
// }

section {
    @include flexCenterPerfect;
    // min-height: 100vh;
}

.maxWrapper {
    max-width: 2000px;
    margin: 0 auto;
}

.innerWrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

.completeTerminalWindow {
    background: #2C3D50;
    border-radius: 10px;
    min-height: 90vh;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.terminal-topBar {
    background: #D1D1D1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px 0;

        span {
            display: inline-block;
            margin-left: 8px;
            border-radius: 50%;
            height: 14px;
            width: 14px;
        }

        .red {
            background: red;
            margin-left: 20px;
        }

        .yellow {
            background: yellow;
        }

        .green {
            background: green;
        }
}

.typingEffect {
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 10px solid orange;
    animation:
        typing 3.5s steps(30, end),
        blinking 1s ease 0s infinite normal forwards;
        // fadeOut 0.2s ease infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0}
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

@keyframes fadeOut {
    from {border-color: orange}
    to {border-color: transparent}
}

.question {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.answers {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    #id {
        text-align: center;
    }
}
