.questionsOnTrack {
    display: none;
    flex-direction: column;
    padding: 0 60px;
}

.answers {
    width: 80%;
    @include flexHorz;
    align-items: center;
    text-align: center;
    padding: 0 10px;

    > div {
        margin: 4vw 0 3vw;
        @include flexCenterPerfect;
        flex-direction: column;
    }

    .indvQuestion {
        margin: 15px 0;
    }
}