.chooseTrack {
    flex-direction: column;

}

.chooseTrack--form {
    width: 300px;
    @include flexHorz;

    > div {
        display: flex;
        justify-content: space-between;
        margin: 6vw 0;
    }

    .chooseTrack--singleButtonGrouping {
        width: 50%;
        text-align: center;
    }
}