.chooseTrack {
    flex-direction: column;

}

.chooseTrack--form {
    width: 200px;
    @include flexHorz;

    > div {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
    }

    input[type=submit] {
        align-self: center;
    }

    input[type='radio']:checked + label {
        color: red;
        border: 1px solid purple;
        padding: 4px;
    }
}