html {
    font-size: 62.5%;
}

// mixins
    //px to rem
        @mixin fSize-value($sizeValue){
            font-size: $sizeValue * 1px;
            font-size: ($sizeValue/10) * 1rem;
        }

    //flex
        // center
            @mixin flexCenterPerfect {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        // row
            @mixin flexHorz {
                display: flex;
                flex-direction: column;
            }
    
    